# すべてのファイルを無視
*

# 特定のファイルを無視から除外
!**/*.cpp
!**/*.hpp
!**/*.tpp
!**/*.ipp
!**/*.pdf
!**/*.gnu
!**/*.png
!**/*.csv
!**/*.py
!**/*.txt
!**/Dockerfile
!**/Makefile
!**/README.md
!/Makefile
!/README.md
!/*.drawio
!/.gitignore

# 特定のディレクトリを無視から除外
!/
!/cProgram
!/python
!/python/denba
!/**/include
!/**/src
!/src/*
!/**/gnuscript
!/**/gnuscript/*
!/**/out
!/**/out/*
!/**/data
!/**/data/*s